<%- include('./layout'); %>

<h1>
    <%= title %>
</h1>

<form method="POST" action="">
    <div class="form-group">
        <label for="book">
            Book: 
        </label>
        <select name="book" id="book" class="form-control" 
        aria-placeholder="Select book" required>
        </select>
    </div>
</form>